<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softwaremobility.monin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Home"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AccountCreate"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MoninRecipes"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".MoodMatcher"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ResultsMoodMatcher"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".CreateRecipes"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetailRecipe"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".PreviewCropImage" />

        <!-- Facebook login changes starts... -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Facebook login changes end... -->

        <provider
            android:name="com.softwaremobility.data.MoninProvider"
            android:authorities="com.softwaremobility.monin"
            android:exported="true" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1683078451909458"
            android:exported="true" />

        <receiver android:name="com.softwaremobility.widgets.MoninWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.softwaremobility.monin.app.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/monin_widget_info" />
        </receiver>
    </application>

</manifest>